{% extends 'base.html.twig' %}

{% block title %}New Parti{% endblock %}

{% block body %}
    <h1>Create new Parti</h1>
    <div class="col-md-2">
    {{ include('parti/_form.html.twig') }}
    </div>

    <a class="btn btn-light" href="{{ path('parti_index') }}">retour a la liste</a>
{% endblock %}
